<!DOCTYPE hibernate-configuration PUBLIC
 	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 	<session-factory>
 		<property name="hibernate.dialect">
 			org.hibernate.dialect.MySQLDialect
 		</property>
 		<property name="hibernate.show_sql">true</property>
 		<property name="hibernate.current_session_context_class">
 			thread
 		</property>
 		<property name="connection.useUnicode">true</property>
 		<property name="connection.characterEncoding">UTF-8</property>
 
				<mapping resource="com/edu/model/User.hbm.xml" />
 		<mapping resource="com/edu/model/Gonggao.hbm.xml" />
 		<mapping resource="com/edu/model/OilFieldInfo.hbm.xml" />
 		<mapping resource="com/edu/model/SafetyInfo.hbm.xml" />
 		<mapping resource="com/edu/model/AramType.hbm.xml" />
 		<mapping resource="com/edu/model/AlarmStats.hbm.xml" />
 		<mapping resource="com/edu/model/SensorType.hbm.xml" />
 		<mapping resource="com/edu/model/DailyAlarms.hbm.xml" />
 		<mapping resource="com/edu/model/SensorData.hbm.xml" />
 
	</session-factory>
</hibernate-configuration>
 
